:root{
    --light-text: #ffffff;
    --dark-text: #000000;
    --prime-blue: #263037;
    --accent-blue: #7290a5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}
/* Primary Formatting */

body{
    background-color: var(--prime-blue);
    color: var(--light-text);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    text-align: center;
    padding: 0.25rem;
    margin: 0.25rem auto;
}

main{
    width: 100%;
    max-width: 30rem;
    padding: 0.25rem;
    margin: auto;

}

section, form{
    border-radius: 2px;
    border: solid 1px var(--accent-blue);
    margin: 0.25rem auto;
    padding: 0.25rem;
    width: 100%;
}

li{
    padding-left: 0.25rem;
    list-style-position: inside;
}
li > ul{
    padding-left:0.5rem;
}

/* Form Formatting */

form input[type="text"],
form input[type="tel"],
form input[type="email"],
form input[type="url"],
form input[type="date"],
form select,
form input[type="number"],
form input[type="text"],
form input[type="text"]{
    background-color: var(--light-text);
    display: block;
    border: solid 1px var(--accent-blue); 
    border-radius: 6px;
    padding: 0.75rem;
    width: 100%; 
    /* max-width: 400px; */
    appearance: none;
}

form input[type="radio"], form input[type="checkbox"]{
    margin-right: 6px;
}

form input[type="submit"]{
    border: none;
    color: var(--light-text);
    background-color: var(--accent-blue);
    border-radius: 6px;
    padding: 0.8rem;
    width: 100%;
    /* max-width: 25rem; */
    box-shadow: 1px 1px 4px var(--dark-text);
    text-shadow: 1px 1px var(--dark-text);
}

form input:required, select:invalid{
    border-left: 1rem solid red;
    background-color: pink;
}

form input:required:valid, select:valid{
    border-left: 1rem solid greenyellow;
    background-color: var(--light-text);
}

.form_section{
    margin-bottom: 0.5rem;
}
.radio-list{
    display:grid;
    grid-template-columns: repeat(5,1fr);
    text-align: center;
    align-items: end;
    justify-content: center;
}
.radio-list label{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.25rem;
}
.form_title{
    grid-column: 1 / -1;
    font-weight: 700;
}
.radio-list input[type="radio"], .radio-list input[type="checkbox"]{
    margin: 0px;
}

textarea{
    width: 100%;
    height: 4rem;
}

label{
    margin-top: 0.25rem;
}

.form_result_counter{
    text-align: center;
}

.required_asterisk{
    color: red;
}