:root{
    --base-cor:     #EEEEEE;
    --sec-cor:      #222222;
    --acc-1-cor:    #0055EE;
    --acc-2-cor:    #EE5500;
    --acc-3-cor:    #00EE55;
    --acc-4-cor:    #EE0055;
    --acc-5-cor:    #55EE00;
    --acc-6-cor:    #5500EE;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}
/* main text */
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    text-align: center;
    background-color: var(--base-cor);
    font-family: "Open Sans";
    color: var(--sec-cor);
}

/* Header Formatting */

header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: var(--acc-6-cor);
    
}
header p{
    text-align: left;   
    font-weight: 700;
}
header *{
    padding: 0.25rem;
    margin: 1rem 0.25rem;
    width: fit-content; 
    text-decoration: none;
    color: var(--base-cor);

}

nav a{
    border: 1px solid var(--acc-6-cor);
    border-radius: 3px;
    margin: 4%;
    font-weight: 700;
}

nav a:hover{
    border: 1px solid var(--acc-2-cor);
}

nav{
    display: none;
    width: 100%;
}

#menu::after{
    content:"☰";
    width: 1rem;
    height: 100%;
    line-height: 100%;
    border: solid 1px var(--base-cor);
    margin: 0.25rem;
    padding: 0.5rem;
    text-align: center;
    width: 5rem;
    text-overflow: clip;
}

#menu.open::after{
    content: "❌";
}


/*footer formatting  */
footer{
    background-color: var(--acc-6-cor);
    color: var(--base-cor);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 0.25rem;
}

footer p{
    font-size: medium;
}

#lastmodified{
    font-size: small;
}

/* main formatting */

main{
    max-width: 32rem;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
}

h1{
    margin-top: 2rem;
    margin-bottom: 1rem;;
}

figure{
    margin: 0.25rem;
    padding: 0.25rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}



/* JS Util */
.hidden{
    display: none;
}

.visible{
    display: block;
}